.BuyButton {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    user-select: none;
    padding: 0.7em 1.5em;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 5px;
    outline: none;
    background: rgb(95, 95, 95) linear-gradient(rgb(83, 81, 80), rgb(124, 124, 124) 80%);
    box-shadow: 0 6px rgb(126, 126, 126), 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3),
        inset 0 0 3px rgba(255, 255, 255, 0.5);
    transition: 0.2s;
    cursor: pointer;
}

.BuyButton:hover {
    background: rgb(255, 119, 101) linear-gradient(rgb(114, 0, 0), rgb(236, 0, 0) 80%);
    
}

.BuyButton:active {
    background: rgb(196, 0, 0) linear-gradient(rgb(230, 0, 0) 20%, rgb(230, 4, 4));
    box-shadow: 0 2px rgb(102, 0, 0), 0 1px 6px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3),
        inset 0 0 3px rgba(255, 255, 255, 0.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
